body{
	background:white;
}

.title-container{
	text-align:center;
	width: 100%;
	height:auto;
}

.form-control:focus {
	border-color:gray;
	box-shadow: 0 0px 1px gray inset, 0 0 8px gray;
	outline: 0 none;
}

.form-inline{
	display:flex;
	justify-content:center;
}

.btn{
	margin-left:15px;
}

.table-container{
	margin-top:10px;
	display:flex;
	justify-content:center;
	width:auto;
	height:auto;
	margin-top:50px;
	padding-right:20px;
	padding-left:20px;	
}

@media screen and (min-width: 800px){
	.table-container{
		padding-right:100px;
		padding-left:100px;	
	}
}

@media screen and (max-width:700px){
	.form-control{
		width:40%;
	}

	.td-title{
		font-size:12px;
	}

	.btn-warning{
		margin-top:3vw;
	}
}